services:
  postgres_db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_USER: ${POSTGRES_USERNAME}
    ports:
      - 5432:5432
    volumes:
      - PINPIN_DB:/var/lib/postgresql/data
  inbucket:
    image: inbucket/inbucket:main
    restart: always
    ports:
      - ${INBUCKET_UI_PORT}:9000
      - ${INBUCKET_SMTP_PORT}:2500
volumes:
  PINPIN_DB:
